<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/"></a>
            </div>
            <div id="navigation">
                <a href="/">Hjem</a>
                <a href="/projects.html">Prosjekter</a>
                <a href="/about.html">Om meg</a>
                <!-- <a href="/archive.html">Arkiv</a> -->
            </div>
        </div>

        <div id="content">
            <article>
                <h1>$title$</h1>

                $body$

                <hr />

                Har du en kommentar? Bare

                <button id="load-comment-system">last inn kommentarsystemet</button>,

                og bruk pilen øverst til høyre til å lage en generell kommentar.
                For å kommentere på en spesifikk frase, marker teksten, og trykk "Annotate".

                Mer informasjon om kommentarsystemet er tilgjengelig på engelsk:
                <a href="https://www.teodorheggelund.com/posts/commentary-with-hypothesis.html">Commentary with Hypothesis</a>.
            </article>
        </div>

        <div id="footer">
            <p>
                Denne siden er laget med det fantastiske Haskell-biblioteket
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
                Innhold er lisensiert med <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative
                    Commons Attribution-NonCommercial 4.0</a> der ikke annet er spesifisert.
                Det betyr at du kan videresende innholdet for ikkekomersiell bruk med kildehenvisning.
            </p>
        </div>

        <script type="application/json" class="js-hypothesis-config">
            {"showHighlights": false}
        </script>
        <div id="hypothesis-placeholder"></div>
        <script type="text/javascript" async>
        placeholder = document.querySelector("#hypothesis-placeholder");
        activation = document.querySelector("#load-comment-system");

        s = document.createElement("script");
        s.setAttribute("async", "async");
        s.setAttribute("src", "https://hypothes.is/embed.js");

        activation.onclick = function () {
            placeholder.appendChild(s);
        };

        </script>
    </body>
</html>
